html,body{
  width: 100%;
  height: 100%;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	/* 解决IOS默认滑动很卡的情况 */
	-webkit-overflow-scrolling : touch; 
}

/* 禁止缩放表单 */
input[type="submit"], input[type="reset"], input[type="button"], input {
	resize: none;
	
}

/* 取消链接高亮  */
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-decoration: none ;
}

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
	display: block;
}

/* 图片自适应 */

/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
}

em, i {
	font-style: normal;
}
ul,li{
	list-style-type: none;
}
.mar_b30{
  margin-bottom: 30px;
}
.tc{
  text-align: center;
}
.nav_left{
  position: absolute;
  left: 50%;
  transform: translateX(185%);
  -ms-transform: translateX(185%);
  -moz-transform: translateX(185%);
  -webkit-transform: translateX(185%);
    -o-transform: translateX(185%);
}
.nav_li{
  position: absolute;
  width: 800px;
  left: 50%;
  transform: translateX(-81%);
  -ms-transform: translateX(-81%);
  -moz-transform: translateX(-81%);
  -webkit-transform: translateX(-81%);
    -o-transform: translateX(-81%);
}
.Rendering{
  border-bottom: 1px solid #0198cd;
  background: #0198cd;
  color: #fff;
}
.layui-nav-child{
  top: 80px;
}
/* 首页 */
#header{
  margin-bottom:10px;
  position: relative;
}
#header .logo {
  float: left;
    width: 210px;
    padding: 10px 30px 0 20px;
}
#header .logo a{
  display: inline-block;
  width: 100%;
}
#header .logo img{
  width: 210px;
}
#header .login{
  position: absolute;
  height: 70px;
  top: 0px;
  right: 30px;
  line-height: 70px;
}
#header .login img{
  width: 20px;
}
#header .login a{
  font-size: 15px;
  vertical-align: middle;
}
#header .login a:hover{
  color: #004290;
}
.layui-nav .layui-nav-item a{
  font-size: 15px;
  padding: 0 15px;
}

 .fixed{
  position: fixed;
  z-index: 99;
  top: 420px;
  border: 1px solid #ccc;
  border-radius: 0 10px 15px 0;
  background-color: #fff;
  padding: 10px 25px;
  box-shadow: 10px 10px 30px -15px;
}
 .fixed span{
  padding-left:15px;
}
#news .content{
  background-image: url("../img/nav.jpg");
  width: 100%;
  height: auto;
  position: relative;
 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#news{
  /* margin: 25px 0; */
}
#news .content .content_1{
  width: 1260px;
  height: auto;
  margin: auto;
  padding: 50px 0;

}
#news h1,#link h1{
  text-align: center;
  background-color: #ccc;
  padding: 20px 0;
  font-size: 30px;
}
#news h3{
  
  font-size: 30px;
  padding-left: 80px;
  float: left;
  margin-right: 50px;
}
#news .content .con_nav{
    position: absolute;
    width: 1260px;
    left: 50%;
    transform: translateX(-50%);
    top: 85px;

}
#news .del img{ 
  float: left;
  width: 350px;
  height: 250px;
  margin-right: 30px;
}
#news .del p{
  color: #004290;
    margin-bottom: 10px;
}
#news .del strong{
  display: block;
    font-size: 20px;
    margin-bottom: 15px;
}
#news .del span{
  color: #a6a7c3;
  line-height: 24px;
}
#news .new_car{
  box-sizing: border-box;
    padding: 100px 40px 88px 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0px;
    background-color: #fff;
}
.layui-carousel img{
  width: 100%;
  height: 639px;
}
#news .layui-carousel{
  margin: auto;
  box-sizing: border-box;
    padding: 20px 60px;
    border: 1px solid #666;
    border-radius: 20px;

}

#link .cont{
  position: relative;
    width: 1260px;
    height: auto;
    margin: 50px auto;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 30px 0px;
}
#link .link_lis{
  text-align: left;
  box-sizing: border-box;
  padding: 35px;
}
#link .link_lis a {
  font-size: 14px;
    margin: 5px 8px;
    display: inline-block;
    width: 23%;
}
#link .link_lis a img{
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
#link .link_lis a:hover{
  color: #004290;
}
#link .label{
  position: absolute;
  width: 30px;
  top: -16px;
  left: -15px;
  background: #0099cb;
  height: 120%;
  border-radius: 18px;
  box-shadow: 10px 10px 40px 0px;
}
#access{
  background-color: #fff;
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: relative;
}
#access div{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#access p{
  float: left;
  font-size: 20px;
  margin-right: 40px;
}
#access p img{
 width: 25px;
}
#footer{
  width: 100%;
  height: auto;
  position: relative;
  background-color: #222;
}
#footer div{
  width: 1260px;
  margin: auto;
  text-align: center;
  padding: 30px 0;
}
#footer div a {
  color: #b3b3b3;
  font-size: 18px;
  padding: 0px 6px;
}
#footer div a:hover{
  color: #004290;
}
#footer span{
  position: absolute;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 28px;
    background-color: #666;
    right: 30px;
    top: 25px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
/* 科技中介服务 */
.service_head{
  background-image: url("../img/header.jpg");
  webkit-background-size: cover;
  moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
   width: 100%; 
  height: 100px;
  background-position: center;
  height: 100px;

}
.service_head .content{
  width: 1260px;
  margin: auto;

}
.service_head .content p{
  float: left;
  font-size: 20px;
  color: #fff;
  line-height: 120px;
  font-weight: 800;

}
.service_head .content a{ 
  color: #fff;
}
.service_head .content .login{
  float: right;
  line-height: 120px;
}
.service_head .content .login img{
  width: 20px;
  vertical-align: sub;
}
.service_head .content .login a{
 color: #fff;
}
 .service_nav{
  height: 80px;
  line-height: 80px;
  border: 1px solid #ccc;
  box-shadow: 0px 10px 30px -10px;
  position: relative;
}
 .service_nav ul li{
  float: left;
  margin: 0 12px;
}
.service_nav ul li a{
  font-size: 16px;
}
.fl{
  float: left;
}
.fr{
  float: right
}
#service_news{
  width: 100%;
  height: auto;
  margin-top: 130px;
}
#service_news .items{
  position: relative;
  width: 1260px;
  margin: auto;
  background-color: #ccc;
  box-shadow: 11px 10px 30px -15px;
    margin-bottom: 80px;
}
#service_news .items .anLv{
  overflow: hidden;
}
#service_news .items .anLv h3{
  font-size: 20px;
    padding: 20px;
}
#service_news .items .anLv button{
  background: #0198cd;
  padding: 2px 25px;
  color: #fff;
  font-size: 20px;
  margin: 10px 20px;
  border-radius: 8px;
}
#service_news .items p{
  padding: 15px 135px 50px 20px;
  font-size: 16px;
}
#service_news .items .dingWei{
  position: absolute;
  
  font-size: 20px;
  color: #fff;
  background-color: #0198cd;
  padding: 10px 50px;
  border-radius: 15px 15px 0 0;
  top: -46px;
  left: 45px;
}
/*新闻中心*/
#newsCenter{
  width: 1260px;
  min-height: 960px; 
  margin: 20px auto 200px;

}
#newsCenter .left{
  width: 21%;
  height: 900px;
  box-sizing: border-box;
  border: 1px solid #999;
  box-shadow: 8px 5px 30px -10px;
}
#newsCenter .left .nav{
  background: #0198cd;
  height: 50px;
  line-height: 50px;
  box-shadow: 10px 5px 30px -10px;
}
#newsCenter .left .nav img{
  display: inline-block;
  margin-left: 15px;
  width: 35px;
  vertical-align: middle;
}
#newsCenter .left .nav h4{
  display: inline-block;
  color: #fff;
  font-size: 20px;
  padding-left: 5px;
}
#newsCenter .left .lis{
  margin-top: 40px;
  font-size: 20px;
  
}
#newsCenter .left .lis li{
  border-bottom: 1px solid #333;
  padding: 10px;
  cursor: default;
}
#newsCenter .left .introduce li{
  border-bottom: 1px solid #333;
  padding: 10px;
  cursor: default;
}
#newsCenter .left .introduce{
  margin-top: 40px;
  font-size: 20px;
}
#newsCenter .left .lis li span{
  display: inline-block;
  width: 37px;
  height: 37px;
  vertical-align: middle;
}
#newsCenter .left .lis li:nth-child(1) span{
  background-image: url("../img/data_h.png");
}

#newsCenter .left .lis li:nth-child(2) span{

  background-image: url("../img/link_h.png");
 
}
#newsCenter .left .lis li:nth-child(3) span{

  background-image: url("../img/tv_h.png");
}
#newsCenter .left .introduce li span{
  display: inline-block;
  width: 37px;
  height: 37px;
  vertical-align: middle;
}
#newsCenter .left .introduce li:nth-child(1) span{
 
  background-image: url("../img/introduce_h.png");
}

#newsCenter .left .introduce li:nth-child(2) span{

  background-image: url("../img/infor.png");

}
#newsCenter .left .introduce li:nth-child(3) span{ 
  background-image: url("../img/phone_h.png");
}
#newsCenter .left .introduce li:hover{
  border-bottom: 1px solid #0198cd;
  background: #0198cd;
  
}
#newsCenter .left .introduce li:hover a{   
  color: #fff;
}
#newsCenter .left .introduce li:nth-child(1):hover span{ 
  background-image: url("../img/introduce_b.png");
}
#newsCenter .left .introduce li:nth-child(2):hover span{ 
  background-image: url("../img/inform_b.png");
}
#newsCenter .left .introduce li:nth-child(3):hover span{ 
  background-image: url("../img/phone_b.png");
}
#newsCenter .left .lis li:hover{
  border-bottom: 1px solid #0198cd;
  background: #0198cd;
  
}
#newsCenter .left .lis li:hover a{   
  color: #fff;
}
#newsCenter .left .lis li:nth-child(1):hover span{ 
  background-image: url("../img/data_b.png");
}
#newsCenter .left .lis li:nth-child(2):hover span{ 
  background-image: url("../img/link_b.png");
}
#newsCenter .left .lis li:nth-child(3):hover span{ 
  background-image: url("../img/tv_b.png");
}
#newsCenter .right{
  width: 75%;
  min-height: 900px;
  box-sizing: border-box;
  border: 1px solid #999;
  box-shadow: 8px 5px 30px -10px;
  /* padding-right: 20px; */
  margin-left: 20px;
}
#newsCenter .right .nav{
  background: #0198cd;
  height: 50px;
  line-height: 50px;
  box-shadow: 10px 5px 30px -10px;
}
#newsCenter .right .nav img{
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 10px
}
#newsCenter .right .nav h4{
  display: inline-block;
  color: #fff;
  font-size: 20px;
  padding-left: 5px;
}
#newsCenter .right .lis{
  margin: 30px 100px 0 30px;
}
#newsCenter .right .lis li{
  border-bottom: 1px solid #999;
  padding: 10px 0;
}
#newsCenter .right .lis li a {
  display: block;
  overflow: hidden;
}
#newsCenter .right .lis li a div{
  margin-left: 15px;
}
#newsCenter .right .lis li a div strong{
  display: block;
  width: 660px;
  font-size: 16px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#newsCenter .right .lis li a div span{
  color: #ccc;
}
#newsCenter .right .lis li a div span:nth-child(2){
  float: right;
}
#page{
  text-align: center;
  margin-top: 50px;
}
#newsCenter .right .notice_con{
  text-align: right;
  
  margin: 20px 0;
}
#newsCenter .right .notice_con button{
  background: #0198cd;
  margin-right: 20px;
  padding: 3px 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 15px;
}
#newsCenter .right .notice_new{
  width: 680px;
    margin: auto;
}
#newsCenter .right .notice_new p{
  color: #0198cd;
    margin: 10px 0;
}
#newsCenter .right .notice_new strong{
  display: block;
    font-size: 16px;
    margin-bottom: 20px;
}
#newsCenter .right .notice_new span{
  color: #ccc;
  line-height: 25px;
}
#newsCenter .right .link_1{
  text-align: center;
  padding-right: 20px;
  border-right: 1px solid #0198cd;
}
#newsCenter .right .link_1 p{
  color: #0198cd;
  font-size: 40px;
}
#newsCenter .right .link_1 span{
  color: #0198cd !important;
  font-size: 18px;
  
}
#newsCenter .right .lis li .link_2 span{
  float: none !important;
  font-size: 16px;
}
#newsCenter .right .lis li .link_2 h2{
  font-size: 20px;
  margin-bottom: 10px;
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
/* 园区简介 */
#newsCenter .left .lis li a img{
  width: 37px;
    vertical-align: bottom;
    margin-right: 10px;
}
#newsCenter .right .intro_con{
  margin: 30px 50px;
}

#newsCenter .right .intro_con h3{
  font-size: 40px;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#newsCenter .right .intro_con h2{
  margin: 10px 0;;
  font-weight: 600;
}
#newsCenter .right .intro_con p{
  line-height: 40px;
  font-size: 18px;
  text-indent: 2em;
}
#newsCenter .right .search {
  margin: 20px;
}
#newsCenter .right .search span{
  display: inline-block;
  padding: 15px 35px;
  background: #0198cd;
  color: #fff;
}
#newsCenter .right .search  input{
  padding: 10px;
  font-size: 14px;
  width: 60%;
  margin-left: 20px;
  border-radius: 15px 0 0 15px;
}
#newsCenter .right .search button{
  width: 12%;
    background: #0198cd;
    height: 42px;
    border-radius: 0 10px 10px 0;
    vertical-align: middle;
    position: relative;
    right: 5px;
    top: -2px;
}
#newsCenter .right .database_per{
  margin: 0 20px;
  overflow: hidden;
  border: 1px solid #ccc;
}
#newsCenter .right .database_per .personal{
  padding: 12px;
  border-bottom: 1px solid #ccc;
}
#newsCenter .right .database_per .personal p{
  display: inline-block;
    color: #fff;
    background: #0198cd;
    padding: 5px 25px;
    border-radius: 7px;
}
#newsCenter .right .database_per .sort{
  padding: 5px 40px;
  font-size: 15px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

#newsCenter .right .database_per .sort li{
  float: left;
    padding: 0 17px;
    border: 1px solid #666;
    margin: 0 10px;
    cursor: default;
}

#newsCenter .right .database_per .database_con{
  margin: 25px 15px;
  overflow: hidden;
}
#newsCenter .right .database_per .database_con li{
  float: left;
  width: 215px;
  height: 140px;
  border: 1px solid #ccc;
  cursor: default;
  margin: 20px;
  box-sizing: border-box;
  border-radius: 0 0 35px 0;
  padding: 10px;
  font-size: 15px
}
#newsCenter .right .database_per .database_con li h3{
  font-size: 24px;
  margin-bottom: 15px;  
}
#newsCenter .right .database_per .database_con li p{
  display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
}
#newsCenter .right .database_per .database_con .del{
  font-size: 24px;
  margin:40px 0 0  30px;
}
#newsCenter .right .database_per .database_con .del .select_con{
  padding: 15px 30px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
  margin: 15px 0 30px;
  font-size: 18px;
}
#platform{
  width: 1260px;
    height: 920px;
    margin: 20px auto 200px;
    overflow: hidden;
}
#platform .con{
  width: 88%;
    margin: auto;
    height: 900px;
    box-sizing: border-box;
    border: 1px solid #999;
    box-shadow: 8px 5px 30px -10px;
}
#platform .con .top{
  margin: 0px 30px;
  border-bottom: 1px solid #999;
  padding: 30px 50px;
}
#platform .con .top span{
  font-size: 30px;
  margin-left: 30px;
  vertical-align: middle;
}
.layui-tab-content{
  width: 600px;
  margin: auto;
  padding: 0px;
}
.layui-input, .layui-textarea{
  width: 360px;
}
.layui-tab-content .register_layui{
  font-size: 30px;
  color: #f25f1c;
  margin-bottom: 25px;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid;
}
.layui-tab-content .register_layui span{
  display: inline-block;
  width: 0px;
  height: 43px;
  border: 2px solid red;
  vertical-align: middle;
  margin-right: 20px;
}

/* 个人中心 */
#newsCenter .left .personal{
  margin-top: 30px;
}
#newsCenter .left .personal li{
  font-size: 18px;
    padding: 10px 40px;
}
#newsCenter .left .personal li a{
  display: inline-block;
    width: 100%;
}
.personal_top .register_layui{
  font-size: 30px;
  color: #f25f1c;
  margin-bottom: 25px;
  padding: 10px 30px;
  /* text-align: center; */
  border-bottom: 1px solid #999;
}
.personal_top{
  margin: 0 30px;
  position: relative;
}
.personal_top .register_layui span{
  display: inline-block;
  width: 0px;
  height: 30px;
  border: 3px solid red;
  vertical-align: middle;
  margin-right: 20px;
}
.personal_top .register_layui button{
  position: absolute;
  right: 50px;
  font-size: 15px;
  padding: 2px 8px;
  color: #fff;
  background: #0198cd;
  box-sizing: border-box;
  border: 1px solid #0198cd;
  border-radius: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.layui-input-block{
  line-height: 36px;
}
.person_message{
  margin: 0 40px;
}
.active{
  color: #0198cd;
}

.activity_top{
  position: relative;
  margin: 0 20px;
  border-bottom: 1px solid #999;
}
.activity_top .register_layui{
  font-size: 25px;
  color: #f25f1c;
  padding: 10px 0px 10px 20px;
}
.activity_top .register_layui span{
  display: inline-block;
  width: 0px;
  height: 25px;
  border: 3px solid red;
  vertical-align: middle;
  margin-right: 20px;
}
.activity_top .register_layui a{
  position: absolute;
  right: 10px;
  font-size: 15px;
  padding: 2px 8px;
  color: #fff;
  background: #0198cd;
  box-sizing: border-box;
  border: 1px solid #0198cd;
  border-radius: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.activity_lis li{
  box-sizing: border-box;
  border: 1px solid #999;
  box-shadow: 8px 5px 30px -10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.activity_lis li .plan{
  width: 400px;
  margin: 20px auto 0;
  overflow: hidden;
}
.activity_lis li .plan li{
  float: left;
  
    border: none;
    border-radius: inherit;
    box-shadow: none;
    margin: inherit;
}
.activity_lis li .plan li img{
  width: 60px;
}
.activity_lis li .plan li p{
  margin: 20px 0 10px;
}
#newsCenter .right .message_con input{
  border: none;
  border-radius: inherit;
  border-bottom: 1px solid #666
}
#newsCenter .right .order_window{
  padding: 20px 0;
  /* border: 1px solid #ccc; */
  position: relative;
  box-shadow: 8px 20px 20px -23px;
  width: 718px;
  /* overflow: hidden; */
  left: -60px;
}
#newsCenter .right .order_win input.buttom{
  border: none;
  border-radius: inherit;
  border-bottom: 1px solid #666;
  display: block;
  width: 360px;
  line-height: 36px;
}
/* 政策 */
#newsCenter .left .policy_lis{
  margin-top: 40px;
    font-size: 20px;
} 
#newsCenter .left .policy_lis li{
  border-bottom: 1px solid #333;
  padding: 10px;
  cursor: default;
}
#newsCenter .left .policy_lis li span{
  display: inline-block;
  width: 37px;
  height: 37px;
  background-image: url("../img/policy_h.png");
  vertical-align: middle;
}
#newsCenter .left .policy_lis li:hover{
  border-bottom: 1px solid #0198cd;
  background: #0198cd;
  color: #fff;
}
#newsCenter .left .policy_lis li:hover a{ 
  
  color: #fff;
}
#newsCenter .left .policy_lis li:hover span{ 
  background-image: url("../img/policy_b.png");
}
.tabbox{
  overflow: hidden;
}
.tabbox ul{
  float: left;
  margin-left: 10px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}
.tabbox ul li{
  width: 160px;
  font-size: 16px;
  padding: 10px;
  height: auto;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  background: #0198cd;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 1);
}
.tabbox .content{
  float: left;
  width: 600px;
  margin: 0 30px;
}
.tabbox .content .line{
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.tabbox .content p{
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tabbox .content .line .download{
  float: right;
  box-sizing: border-box;
  border: 1px solid #0198cd;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 10px;
  background: #0198cd;
  color: #fff;
}
.tabbox .content>div{display:none;}
.tabbox .content>div.active1{display:block;}
.policy_del_top{
  margin: 30px 50px 10px 50px;
  border-bottom: 1px solid #999;
}
.policy_del_top h3{
  font-size: 30px;
}
.policy_del_top div span{
  padding: 10px;
    color: #ccc;

}
.policy_del_con{
  margin: 0 50px;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
}
.policy_del_con img{
  max-width: 400px;
}
.layui-form-label span{
  font-size: 25px;
    color: red;
    vertical-align: middle;
}
.but1{
  background: #0198cd;
  margin-right: 20px;
  padding: 3px 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 15px;
}